<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="databaseConnection1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=/Users/r7r/Desktop/Study/CC/FALL 2021/CSCI 275 - X19/BankSystem 2.1/BankDatabase.mdf;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="operatorsFilePath" value="../../Operators.txt" />
		<add key="accountsFileDirectory" value="../../Accounts/" />
	</appSettings>
</configuration>